// nord color scheme

/////// Nights
$n1: #2E3440;
$n2: #3B4252;
$n3: #434C5E;
$n4: #4C566A;
/////// Snow Strom
$s1: #D8DEE9;
$s2: #E5E9F0;
$s3: #ECEFF4;
/////// Frost
$f1: #8FBCBB;
$f2: #88C0D0;
$f3: #81A1C1;
$f4: #5E81AC;
/////// Aurora
$a1: #BF616A;
$a2: #D08770;
$a3: #EBCB8B;
$a4: #A3BE8C;
$a5: #B48EAD;
