<!DOCTYPE html>
{{- partial "head.html" . -}}
<html>
    <body>
        <div class="body">
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>
        {{ $prism := resources.Get "js/prism.js" }}
        {{ $secureJS := slice $prism | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
        <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    </body>
</html>
